<link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">

    <footer class="container-fluid">

    <div class="row col-xs-12 elements">


        <div class="col-md-4 bloc_humming">
            <div class="logos_footer">
                <img src="/assets/images/bird.png" alt="logo oiseau" class="logo_footer_bird">
                <img src="/assets/images/logoTitle.png" alt="logo titre" class="logo_footer_humming">
            </div>
            <br>
            <br>
            <p>Vile homines homines orbos potest nec credi coluntur praeter praeter. In via mihi inermis plane iste veri quo videtur ac altera solvantur putat non aliquid.</p>
            <p>Come visit today!</p>
            <p>Read more on our blog</p>
        </div>

        <div class="col-md-4">
            <p>NewsLetter</p>
            <form action="" method="post">
            <label for="email"></label>
            <input type="email" id="email" name="email"  placeholder="Entrez votre mail" >
            <button type="submit" class="btn btn-light">GO</button>
            </form>
            <br>
            <br>
            <p>Téléphone:  09 83 21 23 53</p>

            <p>Nos horaires</p>
            <div class="horaires_footer">
                <p class="horaires">Lundi au Vendredi</p>
                <p class="horaires">07:15 - 16:00</p>
            </div>
            <br>
            <div class="horaires_footer">
                <p class="horaires">Samedi / Dimanche</p>
                <p class="horaires">Fermé</p>
            </div>
            <br>

                <div class="footer_social_logo">
                    <a href="https://www.facebook.com/hummingbordeaux/"><img src="/assets/images/facebook-logo.png" alt="facebook" class="logo_fb"></a>
                    <a href="https://www.instagram.com/humming_bordeaux/?hl=fr"><img src="/assets/images/instagram.png" alt="instagram"></a>
                </div>
        </div>

        <div class="col-md-4">
            <p>Nous trouver</p>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.0620651399317!2d-0.5625775489385504!3d44.84066937899595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55262d9b28a80d%3A0x8373a3e429923524!2sHumming+Bordeaux!5e0!3m2!1sfr!2sfr!4v1555341228015!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:1px" allowfullscreen></iframe>
            <p>8 Place de Stalingrad, 33100 Bordeaux</p>

            <p>Nous sommes actuellement {% if openTime %} ouverts {% else %} fermés {% endif %}.</p>
        </div>


        <hr class="line_footer">

        <div class="row col-xs-12 copyright">
            <p>© Copyright 2019 urban8food.com | All rights are reserved. Website & SEO by CixxFive Concept - A Dallas SEO Company | Privacy Policy | Terms & Conditions | <a href="/admin">Administrateur</a></p>
        </div>

    </div>

</footer>