<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar_hearder">
        <a class="navbar-brand col-4" href="/"><img class="main-logo" src="/assets/images/logoTitle.png" alt="logo du site"></a>
        <button class="header-nav-btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav header-nav-list">
                <li class="nav-item active">
                    <img class="arrow_bird" src="/assets/images/arrow_bird_white.png" alt="fleche blanche">
                    <a class="nav-link" href="#">&nbsp;Carte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reservation/request">&nbsp;Réservation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">&nbsp;Commander</a>
                </li>
                <li class="nav-item header-last-item">
                    <a class="nav-link" href="#">&nbsp;Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="header-box-wood">
        <img class="header-deco left-leaf" src="/assets/images/left-leaf.png"/>
        <div class="hearder-box-deco">
            <img class="header-deco header-bird" src="/assets/images/bird.png"/>
            <img class="header-deco header-picts" src="/assets/images/picts.png"/>
        </div>
        <img class="header-deco right-leaf" src="/assets/images/right-leaf.png"/>
    </div>
</header>

