/************************/
/******** Global ********/
/************************/
h1
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.nav-admin
{
    margin-left: 300px;
}

a
{
    color: black;
}

a:hover
{
    text-decoration: none;
    color: #ffc8d1;
}

.btn-back-adminHome
{
    color: black;
}

.btn-add-menu
{
    margin-top:26px;
    padding: 10px;
    line-height: 2px;
    background-color: black;
    height:35px;
    border-radius: 5px;
    border: 0;
    color: white;
}

.btn-add-menu:hover
{
    background-color: #ffc8d1;
    color: #000000;
    transition: 1.5s;
    text-decoration: none;
}

.btn-link
{
    border-radius: 5px;
    border: 0;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px;
    transition: 1.5s;
}

.btn-link:hover
{
    background-color: #ffc8d1;
    color: #000000;
    transition: 1.5s;
    text-decoration: none;
}


.btn-new-dish
{
    margin-left: auto;
    margin-right:15px;
    margin-bottom: 30px;

}

.box-btn-filter-dish
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-btn-filter-dish a
{
    color: black;
    font-size: 20px;
    transition: 0.5s;
}

.box-btn-filter-dish a:hover
{
    color: #f99ead;
    transition: 0.5s;
}

.btn-reservation
{
    margin-top: 30px;
}

/************************/
/****** Menu-Admin ******/
/************************/
.btn-save-menu
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.table
{
    text-align: center;
}

td > a.link-menu-Update
{
    color: black;
}

/************************/
/****** Admin/card ******/
/************************/
.menu-box-btn
{
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 600px;
}

.menu-box-btn a.btn-lg
{
    margin-bottom : 40px;
    height: 200px;
    line-height: 200px;
    border-radius: 5px;
    border: 0;
    background-color: black;
    color: white;
    font-size:24px;
    margin-right: auto;
    margin-left: auto;
    transition: 1.5s;
}

.menu-box-btn a.btn-lg:hover
{
    background-color: #ffc8d1;
    color: #000000;
    transition: 1.5s;
}

