@import url('https://fonts.googleapis.com/css?family=Itim');

/**********************/
/****** GLOBAL ********/
/**********************/
body
{
    background-image: url("../images/whiteWashedWood.jpg");
}

a:hover
{
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link
{
    color: white;
}

.navbar-dark .navbar-toggler
{
    border-color: white;
}

.navbar-brand
{
    padding-left: 0;
}

.container
{
    margin-top: 40px;
    margin-bottom: 40px;
}

h1
{
    text-align: center;
}
.btn-action
{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background-color: black;
    color: white;
    font-size:24px;
    margin-right: auto;
    margin-left: auto;
    transition: 1.5s;
}

.btn-action:hover
{
    background-color: #ffc8d1;
    color: #000000;
    transition: 1.5s;
}

.btn-reservation
{
    margin-top: 30px;
}

/**********************/
/****** Header ********/
/**********************/

/*****   Nav-Bar    ***/

.header-box-wood
{
    display: flex;
    justify-content: space-between;
}

.main-logo
{
    width: 10em;
}

header
{
    background: url("../images/wood.jpg");
}

.navbar_hearder
{
    color: white;
}

button.header-nav-btn
{
    border-color: white;
}

.header-nav-list
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-nav-list li
{
    display: flex;
    margin-right: 20%;
}

li.header-last-item
{
    margin-right: 0;
}

.arrow_bird
{
    width: 50px;
    height: 15px;
    margin-top: 13px;
}

/******** Bloc Bottom navbar **********/

.left-leaf
{
    height: 100%;
}

.hearder-box-deco
{
    position: relative;
    text-align: center;
    margin-left: -10%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.header-bird
{
    position: absolute;
    left: 10%;
    width: 50%;
    z-index: 20;
}

.header-picts
{
    width: 70%;
    z-index: 10;
    margin-left: 40%;
}

.right-leaf
{
    height: 100%;
    margin-top: auto;
}


@media screen and (max-width: 675px) {

    .left-leaf,.right-leaf
    {
        display: none;
    }

    .header-bird
    {
        width: 40%;
        left: 50%;
        bottom: 70%;
    }

    .header-picts
    {
        margin-left: 10%;
    }

}

/**********************/
/****** Footer ********/
/**********************/

footer
{
    background: url("../images/wood.jpg");
    color: white;
    padding-top: 50px;
}

.elements
{
    font-family: 'Itim', cursive;
    font-size: 18px;
    margin-bottom: 60px;
}

.bloc_humming
{
    /*  padding: 0 50px;*/
}

.title-footer
{
    font-size: 24px;
}

.title-footer-news
{
    margin-top: 20px;
}

.phone-footer
{
    margin-top:30px;
}

.footer_social_logo
{
    margin-top: 30px;
}

.horaires_footer
{
    margin-bottom: 30px;
}
.btn-news-footer
{
    color:#6d6d6d;
    background-color: white;
    padding:0.3rem;
    border:1px solid #757575;
    margin-left: -5px;
}

.logo_footer_humming
{
    width: 150px;
    height: 75px;
}

.logo_footer_bird
{
    width: 120px;
    height: 84px;
}

iframe
{
    height: 200px;
    width: 300px;
    border:2px solid white;
}

.footer_social_logo
{
    filter: invert(100%);
}

.logo_fb
{
    margin-right: 20px;
}

.line_footer
{
    width: 98%;
    margin-left: auto;
    margin-right:auto;
    border: 1px white solid;
}

.horaires_footer
{
    line-height: 20%;
}

.copyright
{
    text-align: center;
}

.left-img-footer
{
    transform: rotate(270deg);
    position:absolute;
    bottom: -55px;
    width: 20%;
}

.right-img-footer
{
    position: absolute;
    right: -40px;
    top: 0;
    width: 30%;
}

@media screen and (max-width: 1230px) {


    .right-img-footer
    {
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {

    .left-img-footer
    {
        transform: rotate(180deg);
        top:-50px;
        right:-50px;
        width: 30%;
    }

    .right-img-footer
    {
        visibility: visible;
        top: -200px;
        right: -45px;
        width: 40%;
    }
}

/**********************/
/****** Contact *******/
/**********************/
.find-us-contact
{
    margin-top: 40px;
    font-size: 2rem;
}


/**********************/
/****** Contenu home ********/
/**********************/

.home_content
{
    background: url("../images/white_wood_bg.jpg");
}


.image_home
{
    width: 600px;
    height: 550px;
    margin-top: 150px;
    margin-bottom: 150px;
    padding-left: 40px;
    border: 1px black solid;
    padding: 20px;
}

/* .description
{
    display: flex;
    justify-content: center;
    margin-top: 150px;
} */

.description
{
    display: flex;
    align-items: center;
}


.desc_humming
{
    justify-content: center;
}

.desc_text
{
    justify-content: right;
    padding-left: 60px;
    padding-right: 20px;
    font-family: 'Itim', cursive;
    font-size: 20px;
}


.carousel_container
{
    padding: 100px;
}

.heart1
{
    float: left;
    width: 30px;
    height: 30px;
}

.heart2
{
    float: right;
    width: 30px;
    height: 30px;
}

h1
{
    text-align: center;
    font-size: 40px;
}
.map-contact
{
    border: 1px solid #999999;
    width: 100%;
    height: 30rem;
}

