{% extends 'TemplateAdmin/layout.html.twig' %}

{% block content %}
    <h1>La Carte</h1>
    <div class="row menu-box-btn">
        <a class="col-10 col-md-5 btn-lg" href="menu/list">Gestion des menus</a>
        <a class="col-10 col-md-5 btn-lg" href="dish/list">Gestion des plats</a>
    </div>
{% endblock %}
