{% extends 'template/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Page contact</h1>
        <form class="row" method="post" action="contact/add">
            <div class="form-group col-12 col-md-6">
                <label for="lastname"></label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Votre nom">
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="firstname"></label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Votre prénom">
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="mail"></label>
                <input type="email" class="form-control" id="mail" name="mail" placeholder="Votre mail">
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="phone"></label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Votre téléphone">
            </div>
            <div class="form-group col-12">
                <label for="message"></label>
                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Votre message"></textarea>
            </div>
            <input class="btn-action" type="submit" value="Envoyer">
        </form>
        <p class="find-us-contact">Où nous trouver?</p>
        <iframe class="map-contact" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.0620651399317!2d-0.5625775489385504!3d44.84066937899595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55262d9b28a80d%3A0x8373a3e429923524!2sHumming+Bordeaux!5e0!3m2!1sfr!2sfr!4v1555341228015!5m2!1sfr!2sfr" frameborder="0"allowfullscreen></iframe>
    </div>
{% endblock %}