{% extends 'TemplateAdmin/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>{{ dish.title }}</h1>
        <form class="row" method="post" action="update/{{ dish.id }}">
            <div class="form-group col-12 col-md-6">
                <label for="lastname"></label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Votre nom">
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="firstname"></label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Votre prénom">
            </div>
            <input class="btn-action" type="submit" value="Modifier">
        </form>
    </div>
{% endblock %}
